<body class="font-sans px-4 pt-4 pb-8 flex bg-gray-100 text-gray-600">
<div class="container m-auto">
  <div class="flex flex-wrap xl:justify-between">
    <div class="w-full">
      <h1 class="w-full text-xl text-gray-800 font-bold bg-white rounded-sm shadow-md p-4 mb-5">
        Bloggy
      </h1>
    </div>

    <div class="w-full xl:w-1/4">
      <div class="w-full bg-white rounded-sm shadow-md pt-4 pb-8 px-4 mb-4">
        <ul class="space-y-2">
          <li>
            <a class="text-gray-400 hover:text-green-600" routerLink="/" routerLinkActive="active text-gray-800"
               [routerLinkActiveOptions]="{ exact: true }">
              Accueil
            </a>
          </li>

          <li *ngIf="!hasUser(); else authUser">
            <a class="text-gray-400 hover:text-green-600" routerLink="/login" routerLinkActive="active text-gray-800">
              Se connecter
            </a>
          </li>

          <ng-template #authUser>
            <li>
              <a class="text-gray-400 hover:text-green-600" routerLink="/admin" routerLinkActive="active text-gray-800">
                Liste des livres
              </a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-green-600" routerLink="/admin" routerLinkActive="active text-gray-800">
                Ajouter un livre
              </a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-green-600" href="/admin">Se deconnecter</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>

    <div *ngIf="hasMessage" class="absolute bottom-5 left-1/4 right-1/4 p-5 text-md text-white bg-green-400 rounded-md leading-8" id="alertDelete">
      {{ getMessage() }}
    </div>

    <div class="w-full xl:w-8/12 flex flex-col">
      <div class="overflow-x-auto">
        <div class="align-middle inline-block min-w-full">
          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-md">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
